@inject IHttpContextAccessor _httpContextAccessor;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @(_httpContextAccessor.HttpContext.User.Identity.Name)
    
    @if (Context.User != null && (Context.User?.Identity?.IsAuthenticated ?? false))
    {
        <p> Hello @(User.Identity.Name)!</p>
    }
    else
    {
        <p>Hello Anonymous user!</p>
    }

</div>
